{% extends "home/layout.html" %}
{% block title %}
Departmental Fests
{% endblock title %}
{% block body %}
<div class="jumbotron d-flex justify-content-center m-1 p-3">
    <h1 class="display-2 font-weight-bold">DEPARTMENTAL FESTS</h1>
</div>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active m-1 img-thumbnail img-responsive">
            <img class="daysCarousel" src="{{ departmentalfests.imageOne.url }}" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item m-1 img-thumbnail img-responsive">
            <img class="daysCarousel" src="{{ departmentalfests.imageTwo.url }}" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item m-1 img-thumbnail img-responsive">
            <img class="daysCarousel" src="{{ departmentalfests.imageThree.url }}" class="d-block w-100 img-fluid" alt="...">
          </div>
        </div>
      </div>
</div>
<div class="p-4 m-0 text-center">
    <h1>What Are Departmental Fest? </h1>
    <p>{{ departmentalfests.description }}</p>
</div>
<div class="card m-1">
    <h5 class="card-header font-weight-bold">Departments</h5>
    <div class="card-body">
        <div class="row">
            {% for department in departments %}
            <div class="col">
                <div class="card text-center img-thumbnail m-1" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1603932738927-ebc50baf4e35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="{% url 'departmentalfests:department' department.name %}"><h5 class="card-title">{{ department.name }}</h5></a>
                      <p class="card-text">{{ department.description|truncatewords:20 }}</p>
                      <a href="{% url 'departmentalfests:department' department.name %}" class="btn btn-primary">All Events</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock body %}
