{% extends "home/layout.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'sports/styles.css' %}">
{% block title %}
Sports
{% endblock title %}
{% block body %}
<h1>SPORTS PAGE</h1>
<div class="container sphead">
    <div >
        <h1 class="display-5 sptext">'ONE MAN CAN BE A CRUCIAL INGREDIENT ON A TEAM. BUT ONE MAN CANNOT MAKE A TEAM'</h1>
    </div>
    <br>
    <div>
        <p> 
            <h4>We all know the saying  So <span class="font-weight-bolder">'ABHIYAAN'</span> is back again this year, for you all to showcase your 
            <span class="font-italic">WILL POWER</span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos facilis ducimus animi 
            sint deleniti, fugiat, a quis optio vero sapiente dolor soluta! Perferendis recusandae nemo mollitia labore, esse soluta eos.</h4>
        </p>
    </div>
    <br>
    <div class="para ptext font-weight-bolder display-4">
            'SPORTS DO NOT BUILD CHARACTER, THEY REVEAL IT'.
    </div> 
    <br>
    
    <div>
        <h1>INDOOR</h1>
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-6 containerg">
                <img src="Sportsimage\indoor\arm.jpg">
                <div class="middle">
                    <div class="text">Arm Wrestling</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">                   
                <img src="Sportsimage\indoor\carrom.jpg">
                <div class="middle">
                    <div class="text">Carrom</div>
                </div>  
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img src="Sportsimage\indoor\chess.jpg">
                <div class="middle">
                    <div class="text">Chess</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="\Sportsimage\indoor\badminton.jpeg">
                <div class="middle">
                    <div class="text">Badminton</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img src="Sportsimage\indoor\ludo.jpg">
                <div class="middle">
                    <div class="text">Ludo</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\indoor\tennis.jpg">
                <div class="middle">
                    <div class="text">Tennis</div>
                </div>
            </div>
        </div>
        <h1>OUTDOOR</h1>
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\running.jpeg">
                <div class="middle">
                    <div class="text">Relay Race</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\football.jpeg">
                <div class="middle">
                    <div class="text">Football</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\cricket.jpeg">
                <div class="middle">
                    <div class="text">Cricket</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 containerg">
                <img src="Sportsimage\outdoor\volleyball.jpeg">
                <div class="middle">
                    <div class="text">Volleyball</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\basketball.jpeg">
                <div class="middle">
                    <div class="text">Basketball</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\khokho1.jpeg">
                <div class="middle">
                    <div class="text">Kho-Kho</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\kabaddi.jpeg">
                <div class="middle">
                    <div class="text">Kabaddi</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\swimming.jpeg">
                <div class="middle">
                    <div class="text">Swimming</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 containerg">
                <img  src="Sportsimage\outdoor\throwball.jpeg">
                <div class="middle">
                    <div class="text">Throwball</div>
                </div>
            </div>
        </div>            
    </div>
</div>
{% endblock body %}
